body {
  background-color: #0b0f10;
  color: white;
  font-family: "Curier New", monospace;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-head {
  background-color: coral;
  color: white;
}

#navbar {
  background-color: darkgray;
  color: white;
}

#navbar ul {
  padding: 0px;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#showcase {
  background-color: #0000;
  background-position: center right;
  height: 300px;
}

#showcase h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main p[id="small"] {
  font-size: 10px;
  padding-left: 100px;
}
#main-footer {
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
}
